<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ComicMapper">

    <select id="getComics" resultType="com.entity.Comic">
select * from comic order by id
</select>
    <delete id="deleteComicById" parameterType="int">
 delete  from comic where id=#{id}
</delete>
    <select id="getComicSByOther" parameterType="com.entity.Comic" resultType="com.entity.Comic">
select * from comic
<where>
<if test="comicname!=null and comicname!=''">
comicname=#{comicname}
</if>
<if test="author!=null and author!=''">
and author=#{author}
</if>
<if test="code!=null and code!=''">
and code=#{code}
</if>
<if test="area!=null and area!=''">
and area=#{area}
</if>
</where>
</select>
    <select id="getComicById" parameterType="int" resultType="com.entity.Comic">
select * from comic where id=#{id}
</select>
    <insert id="addComic" parameterType="com.entity.Comic">
insert into comic(comicname,author,introduction,code,area,updatetime,photopath,score)
values(#{comicname},#{author},#{introduction},#{code},#{area},#{updatetime},#{photopath},#{score})
</insert>
    <insert id="insertComicList">
insert into havalist(comicid,comiclistid) values
<foreach collection="clids" item="i" separator=",">
(#{comicid},#{i})
</foreach>
</insert>
    <select id="getComicByTypeId" parameterType="int" resultType="com.entity.Comic">
select comic.* from havelist,comic where comic.id=havelist.comicid and havelistid=#{havelistid}
</select>
</mapper>