<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommentMapper">
    <select id="getComments" resultType="com.entity.Comment">
select * from comment
</select>
    <delete id="deleteComment" parameterType="int">
delete from comment where id=#{id}
</delete>
    <select id="getCommentsByComicId" parameterType="int" resultType="com.entity.Comment">
select * from comment where comicid=#{comicid}
</select>
</mapper>